language: node_js
node_js:
  - "8"

os: [linux]
dist: trusty
sudo: required
cache:
  yarn: true


before_install:
  - curl -o- -L yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn
  - yarn run build

deploy:
  - provider: surge
    project: ./public/
    domain: necmettn.surge.sh
    skip_cleanup: true
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
